dependency-injector~=4.41.0
uvicorn~=0.22.0
fastapi~=0.96.0
SQLAlchemy~=2.0.15
loguru==0.7.0
pydantic~=1.10.9
psycopg2-binary~=2.9.6
requests~=2.31.0
async-timeout==4.0.2
aiohttp==3.8.4
circuitbreaker==2.0.0
opentelemetry-instrumentation-logging==0.38b0
opentelemetry-exporter-otlp-proto-grpc==1.18.0
opentelemetry-sdk==1.18.0
python-json-logger==2.0.7
pytest~=7.4.0
starlette~=0.27.0
pact-python==2.0.0
pytest-asyncio==0.21.1